<link rel="stylesheet" href="css/detail_view.css">

<%- include('./includes/_header.ejs') %>

<div class="d-flex" id="wrapper">

  <%-include('./includes/_sidebar.ejs')%>

    <div class="container">
      <div class="list-group w-100 mt-2">
        <%for(let i of habits){%>
        <div class="input-group mb-2" id="task-item">
          <span class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" name="habitCheckbox" id="<%=i._id%>">
          </span>
          <div class="list-group-item" id="task-detail">
            <div class="m-2 w-100">
              <h6 class="mb-1"><%=i.name%></h6>
              <p><i class="fa fa-star-o"></i></p>
              <!-- changes to <i class="fa fa-star"></i> -->
              <div class="d-flex w-100 justify-content-between">
                <small><%=i.streak%> days</small>
                <small><%=i.bestStreak%> best</small>
                <small><%=i.total%> total</small>
                <small><%=i.habit_time%></small>
                <small><%=i.frequency%></small>
              </div>
            </div>
          </div>
        </div>
        <%}%>
      </div>
    </div>
</div>

<script src="js/detail_view.js"></script>