<link rel="stylesheet" href="css/week_view.css">

<%- include('./includes/_header.ejs') %>

<div class="d-flex" id="wrapper">

  <%-include('./includes/_sidebar.ejs')%>

    <div class="container col-12">
      <div class="calendar">
        <div class="header">
          <div class="month"></div>
          <div class="btns">
            <div class="btn today-btn">
              <i class="fas fa-calendar-day"></i>
            </div>
            <div class="btn prev-week-btn">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="btn next-week-btn">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <div class="weekdays">
          <div class="day">Sun</div>
          <div class="day">Mon</div>
          <div class="day">Tue</div>
          <div class="day">Wed</div>
          <div class="day">Thu</div>
          <div class="day">Fri</div>
          <div class="day">Sat</div>
        </div>
        <%for(let hab of habits){%>
        <div class="task" id="task" name="task">
          <h6><%=hab.name%></h6>
          <div class="days">
            <%
            var curr = new Date(); // get current date
            var first = curr.getDate() - curr.getDay(); // First day is the day of the month - the day of the week
            var firstday = new Date(curr.setDate(first));
            for (let i = 1; i <= 7; i++) {
            let display_date = firstday.getDate();
            %>
            <button class="day" name="add-status" onclick="getStatusData(this)" data-date="<%=firstday.toDateString()%>" data-habit="<%=hab._id%>"><%=display_date%></button>
            <%
            firstday.setDate(firstday.getDate() + 1);//incrementing weekdays by 1
            }
            %>
          </div>
        </div>
            <%}%>
      </div>
    </div>

</div>

<script src="js/week_view.js"></script>