<link rel="stylesheet" href="css/week_view.css">

<%- include('./includes/_header.ejs') %>

<div class="d-flex" id="wrapper">

  <%-include('./includes/_sidebar.ejs')%>

    <div class="container col-12 mb-3">
      <div class="calendar">
        <div class="header">
          <div class="month"></div>
          <div class="btns">
            <div class="btn today-btn">
              <i class="fas fa-calendar-day"></i>
            </div>
            <div class="btn prev-week-btn">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="btn next-week-btn">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <div class="weekdays">
          <div class="day">Sun</div>
          <div class="day">Mon</div>
          <div class="day">Tue</div>
          <div class="day">Wed</div>
          <div class="day">Thu</div>
          <div class="day">Fri</div>
          <div class="day">Sat</div>
        </div>
        <%for(let hab of habits){%>
        <div class="task" id="task" name="task">
          <h6><%=hab.name%></h6>
          <div class="days">
          <%
            var curr = new Date(); // get current date
            var first = curr.getDate() - 6; //get last day of week number

            var week_first_date = new Date(curr.setDate(first)); //date on sunday of current week
            var week_last_date = new Date(); //date on saturday of current week

            var task_status = "";
            var task_id;

            while (week_first_date <= week_last_date) {
              let display_date = week_first_date.getDate();

              for(let i=0; i<hab.status.length; i++){
                if(hab.status[i].date.toDateString() == week_first_date.toDateString()){
                  week_start_index = i;
                  task_status = hab.status[i].status;
                  task_id = hab.status[i]._id;
                  break;
                }
              }

              if(task_status=="Done"){ 
                task_status="" %>
                <button id="done" class="day" name="add-status" onclick="updateStatusData(this)" data-id="<%=task_id.toString()%>" data-habit="<%=hab._id%>"><%=display_date%></button>
              <%} else if(task_status=="Not Done"){
                task_status="" %>
                <button id="not-done" class="day" name="add-status" onclick="updateStatusData(this)" data-id="<%=task_id.toString()%>" data-habit="<%=hab._id%>"><%=display_date%></button>
              <%} else {%>
                <button class="day" name="add-status" onclick="getStatusData(this)" data-date="<%=week_first_date.toDateString()%>" data-habit="<%=hab._id%>"><%=display_date%></button>
              <%}
              week_first_date.setDate(week_first_date.getDate() + 1);//incrementing weekdays by 1
            }
          %>
          </div>
        </div>
        <%}%>
      </div>
    </div>

</div>

<script src="js/week_view.js"></script>